/* line 1, src/sass/layout.scss */

html,
body {
  min-width: 480px;
}

/* line 6, src/sass/layout.scss */

.wrapper {
  opacity: 0;
  transition: opacity 1s ease;
}

/* line 11, src/sass/layout.scss */

.wrapper.app-loaded {
  opacity: 1;
}

/* line 15, src/sass/layout.scss */

.list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

/* line 19, src/sass/layout.scss */

.list > [class^='col-'] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: stretch;
}

/* line 26, src/sass/layout.scss */

.list > [class^='col-'] .thumbnail {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
  transition: box-shadow .3s, -webkit-transform .2s;
  transition: transform .2s, box-shadow .3s;
  transition: transform .2s, box-shadow .3s, -webkit-transform .2s;
}

/* line 31, src/sass/layout.scss */

.list > [class^='col-'] .thumbnail:hover,
.list > [class^='col-'] .thumbnail:focus {
  z-index: 1;
  text-decoration: none;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 41, src/sass/layout.scss */

.list:before,
.list:after {
  content: normal;
}
/* line 2, src/sass/product.scss */

.product .product-inner {
  padding: 15px;
}