<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular sample application</title>

    <link href="assets/css/main.min.css" rel="stylesheet">

    <script src="assets/js/main.js" defer></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="../index.html">JavaScript Homeworks</a></li>
        <li class="active">Angular</li>
    </ol>

    <div class="jumbotron">
        <h1>
            <small>Домашнее задание:</small>
        </h1>

        <ul>
            <li>Сделать свою страничку со списком продуктов (каталог).</li>
            <li>Там должны быть картинки и кнопки (например, кнопка "купить"), которые подчиняются какой-то логике
                (показывать/не показывать)
            </li>
            <li>Написать свои стили (желательно на препроцессоре), чтоб все смотрелось вменяемо.</li>
            <li>
                Контроллеров должно быть 2: PageController и ProductsController. Первый должен руководить кнопками:
                <ul>
                    <li>для переключения вида: список/плитка.</li>
                    <li>сортировки: по имени/цене по возрастанию/убыванию. (пока что сделать это кнопками с ng-click.
                        http://take.ms/Av2A4)
                    </li>
                </ul>
            </li>
            <li>Выложить все на github и подключить gh pages.</li>
        </ul>

        <p><a class="btn btn-primary btn-lg" href="../" role="button">Все домашние задания <span
                class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a></p>
    </div>

    <div class="wrapper" ng-class="{'app-loaded': true}" ng-controller="PageController as page">
        <h2>All Products</h2>

        <p>
            <button ng-click="page.order = page.ORDER_PRICE_ASC" type="button" class="btn"
                    ng-class="page.order == page.ORDER_PRICE_ASC ? 'btn-primary' : 'btn-default'">
                price <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button ng-click="page.order = page.ORDER_PRICE_DESC" type="button" class="btn"
                    ng-class="page.order == page.ORDER_PRICE_DESC ? 'btn-primary' : 'btn-default'">
                price <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <button ng-click="page.order = page.ORDER_NAME_ASC" type="button" class="btn"
                    ng-class="page.order == page.ORDER_NAME_ASC ? 'btn-primary' : 'btn-default'">
                name <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button ng-click="page.order = page.ORDER_NAME_DESC" type="button" class="btn"
                    ng-class="page.order == page.ORDER_NAME_DESC ? 'btn-primary' : 'btn-default'">
                name <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <button ng-click="page.output = page.OUTPUT_TABLE" type="button" class="btn"
                    ng-class="page.output == page.OUTPUT_TABLE ? 'btn-primary' : 'btn-default'">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </button>
            <button ng-click="page.output = page.OUTPUT_LIST" type="button" class="btn"
                    ng-class="page.output == page.OUTPUT_LIST ? 'btn-primary' : 'btn-default'">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
        </p>

        <hr>

        <div class="row" ng-class="page.getOutputClass()" ng-controller="ProductsController as store">
            <div class="col-xs-6 col-md-3" ng-repeat="product in store.products | orderBy:page.getOrderBy()">
                <a href="#" class="thumbnail product">
                    <img ng-src="{{ product.image }}" alt="{{ product.name | capitalize }}">
                    <div class="product-inner">
                        <h3>{{ product.name | capitalize }}</h3>
                        <h4>{{ product.price | currency }}</h4>
                        <p>{{ product.description }}</p>
                        <button ng-show="product.stock" ng-click="$event.preventDefault(); $event.stopPropagation();"
                                type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2017 <a href="http://helene.com.ua" target="_blank">Elena Mukhina</a></p>
    </footer>
</div>
</body>
</html>