html,
body {
    min-width: 480px;
}

.wrapper {
    opacity: 0;
    transition: opacity 1s ease;
}

.wrapper.app-loaded {
    opacity: 1;
}

.row-table {
    display: flex;
    flex-wrap: wrap;

    & > [class^='col-'] {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        .thumbnail {
            flex-grow: 1;
            height: 100%;
            transition: transform .2s, box-shadow .3s;

            &:hover,
            &:focus {
                z-index: 1;
                text-decoration: none;
                box-shadow: 0 30px 60px rgba(0, 0, 0, .25);
                transform: scale(1.05);
            }
        }
    }

    &:before,
    &:after {
        content: normal;
    }
}

.row-list {
    & > [class^='col-'] {
        width: 100%;

        .thumbnail {
            transition: transform .2s, box-shadow .3s;

            &:hover,
            &:focus {
                z-index: 1;
                text-decoration: none;
                box-shadow: 0 30px 60px rgba(0, 0, 0, .25);
                transform: scale(1.02);
            }
        }

        &:hover,
        &:focus {
            z-index: 1;

            .thumbnail {
                box-shadow: 0 30px 60px rgba(0, 0, 0, .25);
                transform: scale(1.02);
            }
        }
    }
}