.row-table {
    .product {
        .product-inner {
            padding: 15px;
        }
    }
}

.row-list {
    .product {
        overflow: hidden;

        img {
            float: left;
            width: 50%;
            padding-right: 15px;
        }

        .product-inner {
            float: right;
            width: 50%;
        }

        @media screen and (min-width: 768px) {
            img {
                float: left;
                width: 25%;
                padding-right: 15px;
            }

            .product-inner {
                float: right;
                width: 75%;
            }

        }
    }
}